.hero {
    background: #aaa;
}

.hero-container {
    text-align: center;
    min-height: 50vh;
}

.hero-text-container {
    padding: 2em;
}

.hero-image {
    margin: 4em 0 4em 0;
    width: 200px;
    height: auto;
}

@media only screen and (min-width: 720px) {
    .hero-container {
        grid-template-areas:
          ". . div div div div img img img img . ."
          ;
          display: grid;
    }
    .hero-text-container {
        grid-area: div;
        text-align: start;
        text-wrap: wrap;
        padding: 0;
    }
    .hero-image {
        grid-area: img;
        display: inline-block;
        justify-self: end;
        width: 400px;
    }
}