html {
  box-sizing: border-box;
  background: #fff;
  color: #111;
}
*, *:before, *:after {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1{
  font-size: 2.0em;
}
h2{
  font-size: 1.8em;
}
h3{
  font-size: 1.6em;
}
h4{
  font-size: 1.4em;
}
h5{
  font-size: 1em;
}
h6{
  font-size: 0.8em;
}

p {
  font-size: 1.0em;
}

span {
  font-size: 1.0em;
}

div, article, aside, img {
  border-radius: 0;
}
.b-primary {
  display: inline-block;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  background: linear-gradient(to left, #111 50%, #fff 50%);
  background-size: 200%;
  background-position: right;
  transition: background-position 0.5s ease-in-out;
}

.b-primary:hover {
    color: #111;
    cursor: pointer;
    background-position: left;
}

.b-danger {
	display: inline-block;
	color: #fff;
	padding: 10px;
	font-weight: 700;
	background: linear-gradient(to left, #ff0000 50%, #111 50%);
	background-size: 200%;
	background-position: right;
	transition: background-position 0.5s ease-in-out;
  }

  .b-success {
	  display: inline-block;
	  color: #fff;
	  padding: 10px;
	  font-weight: 700;
	  background: linear-gradient(to left, #006f00 50%, #111 50%);
	  background-size: 200%;
	  background-position: right;
	  transition: background-position 0.5s ease-in-out;
	}
	.b-danger:hover, .b-success:hover {
		color: #fff;
		cursor: pointer;
		background-position: left;
	}

.b-text {
	display: inline-block;
	color: #111;
	padding: 10px 0;
	font-weight: 700;
	background: none;
	border: none;
  }

.b-text:hover {
    color: #111;
    cursor: pointer;
}
.b-primary:disabled {
	background: #aaa;
}

.mobile-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.unstyled-button {
	border: 0;
	background: none;
}
.unstyled-button:hover {
	cursor: pointer;
}

input, textarea, select {
	border: 1px solid #111;
	background: #D9D9D9;
	color: #111;
	padding: 1em;
	width: 100%;
	display: inline-block;
}

.input-group {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.input-group label, .input-group input,
.input-group textarea, .input-group select, .error {
    max-width: 500px;
    width: 100%;
    align-self: center;
}

.error {
	color: #ff0000;
	font-size: 0.8em;
}

.input-group label {
    margin-top: 2em;
	font-weight: 700;
}

.button-group {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5em;
  }

  .left-button {
	display: inline-block;
	color: #F4CE14;
	padding: 10px;
	font-weight: 700;
	background: linear-gradient(to left, #111 50%, #fff 50%);
	background-size: 200%;
	background-position: right;
	transition: background-position 0.5s ease-in-out;
  }

  .right-button {
	display: inline-block;
	color: #111;
	padding: 10px;
	font-weight: 700;
	background: linear-gradient(to left, #F4CE14 50%, #fff 50%);
	background-size: 200%;
	background-position: right;
	transition: background-position 0.5s ease-in-out;
  }


  .right-button:hover {
	  color: #111;
	  cursor: pointer;
	  background-position: left;
  }
  .left-button:hover {
	  color: #111;
	  cursor: pointer;
	  background-position: left;
  }

@media only screen and (min-width: 720px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    justify-content: unset;
    text-align: unset;
    row-gap: 20px;
  }
}
