html {
  box-sizing: border-box;
  background: #fff;
  color: #111;
}
*, *:before, *:after {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1{
  font-size: 2.0em;
}
h2{
  font-size: 1.8em;
}
h3{
  font-size: 1.6em;
}
h4{
  font-size: 1.4em;
}
h5{
  font-size: 1em;
}
h6{
  font-size: 0.8em;
}

p {
  font-size: 1.0em;
}

span {
  font-size: 1.0em;
}

div, article, aside, img {
  border-radius: 0;
}
.b-primary {
  display: inline-block;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  background: linear-gradient(to left, #111 50%, #fff 50%);
  background-size: 200%;
  background-position: right;
  transition: background-position 0.5s ease-in-out;
}

.b-primary:hover {
    color: #111;
    cursor: pointer;
    background-position: left;
}


.b-text {
	display: inline-block;
	color: #111;
	padding: 10px 0;
	font-weight: 700;
	background: none;
	border: none;
  }

.b-text:hover {
    color: #111;
    cursor: pointer;
}

.mobile-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media only screen and (min-width: 720px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    justify-content: unset;
    text-align: unset;
    row-gap: 20px;
  }
}
